{% include article/settings.html %}

<article class="article article--large" data-url="{{ url }}">
  <div class="article__inner">
    <div class="article__header hideScroll">
      <div class="article__date">
        <div class="article__dateItem">{% t months.short.{{month}} %}</div>
        <div class="article__dateItem article__dateItem--large">{% numerals {{ day }} %}</div>
        <div class="article__dateItem">{% numerals {{ year }} %}</div>
      </div>
      <div class="article__titleWrap">
        {% assign categories = site.blog-categories | sort: 'title' %}
        {% for category in categories %}
          {% if category.title == post.Blog_categories %}
            {% capture title %}{% value category.title %}{% endcapture %}
            <a href="{% t lang_slug %}{{ category.url }}" class="article__category">{{ title | downcase }}</a>
          {% endif %}
        {% endfor %}

        <a href="{{ url }}">
          <h2 class="article__title">{% value post.title %}</h2>
        </a>
      </div>
    </div>

    <a href="{{ url }}" class="article__image hideScroll">
      <div class="article__imageInner" style="background-image: url({{ post.image_asset }});"></div>
    </a>

    <div class="article__content hideScroll">
      {% capture excerpt %}{% value post.excerpt %}{% endcapture %}
      {{ excerpt | markdownify }}
    </div>

    <div class="article__footer">
      <div class="article__info hideScroll">
        <div class="article__tags">
          {% assign tags = site.blog-tags | sort: 'title' %}
          {% for tag in tags %}
            {% for current in post.Blog_tags %}
              {% if tag.title == current %}
                <a href="{% t lang_slug %}{{ tag.url }}" class="article__tag">#{{ tag.title | downcase }}</a>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
        <div class="article__stats">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" target="_blank" class="article__stat article__stat--facebook"></a>
          <a href="https://twitter.com/home?status={{ url }}" target="_blank" class="article__stat article__stat--twitter"></a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}" target="_blank" class="article__stat article__stat--linkedin"></a>
          <a href="{{ url }}#disqus_thread" class="article__stat article__stat--comment disqus-comment-count" data-disqus-url="{{ url }}">0</a>
        </div>
      </div>
      <div class="article__more hideScroll">
        <a href="{{ url }}" class="article__button button">{% t posts.read_more %}</a>
      </div>
    </div>
  </div>
</article>