<article class="article article--small hideScroll col-6 col-mdl-12" data-url="http://127.0.0.1/blog/">
  <div class="article__inner">
    <div class="article__header">
      <div class="article__date">
        <div class="article__dateItem">Nov</div>
        <div class="article__dateItem article__dateItem--large">12</div>
        <div class="article__dateItem">2017</div>
      </div>
      <div class="article__titleWrap">
        <a href="single.php" class="article__category">Skills</a>
        <a href="single.php">
          <h2 class="article__title">5 skills necessary for self-employment</h2>
        </a>
      </div>
    </div>
    <a href="single.php" class="article__image">
      <div class="article__imageInner" style="background-image: url(tmp/news-01.jpg);"></div>
    </a>
    <div class="article__content">
      <p><?php echo implode(' ', array_slice($words, 0, rand(10, 30))); ?>.</p>
      <p><?php echo implode(' ', array_slice($words, 0, rand(10, 30))); ?>.</p>
    </div>
    <div class="article__footer">
      <div class="article__info">
        <div class="article__more">
          <a href="single.php" class="article__button button button--small">Read more</a>
        </div>
        <div class="article__stats">
          <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" class="article__stat article__stat--like">0</a>
          <a href="#" class="article__stat article__stat--comment">0</a>
        </div>
      </div>
      <div class="article__tags">
        <a href="archive.php" class="article__tag">#work</a>
        <a href="archive.php" class="article__tag">#writer</a>
        <a href="archive.php" class="article__tag">#skills</a>
        <a href="archive.php" class="article__tag">#freelance</a>
        <a href="archive.php" class="article__tag">#business</a>
        <a href="archive.php" class="article__tag">#money</a>
      </div>
    </div>
  </div>
</article>