  <footer class="globFooter"></footer>

  <script>
    var fb910ths        = {};
    fb910ths.app_id     = '{{ site.facebook.app_id }}';
    fb910ths.app_secret = '{{ site.facebook.app_secret }}';
  </script>
  <script src="/build/js/scripts.js"></script>

  <script id="dsq-count-scr" src="//910ths-blog.disqus.com/count.js"></script>
  <script>DISQUSWIDGETS.getCount({reset: true});</script>

  {% include code/footer/global-components.html %}
  {% include code/footer/zendesk.html %}
  {% include code/footer/hotjar.html %}

</body>
</html>