<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">

  {% capture head_title %}{% value page.title %}{% endcapture %}
  <title>{{ head_title }} - {% value site.title_suffix %}</title>

  {% capture description %}{% value page.meta_desc %}{% endcapture %}
  {% if description == empty %}
    {% capture description %}{% value site.description %}{% endcapture %}
  {% endif %}
  <meta name="description" content="{{ description | strip_html | strip_newlines | truncate: 160 }}">
  <meta name="robots" content="index,follow">

  {% if page.layout == 'post' %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% value page.title %}" />
    <meta property="og:url" content="{{ site.url }}{% t lang_slug %}{{ page.url }}" />
    <meta property="og:image" content="{{ site.url }}{{ page.image_asset }}" />
  {% else %}
    {% assign posts = site.blog | sort: 'date' | reverse %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ head_title }} - {% value site.title_suffix %}" />
    <meta property="og:url" content="{{ site.url }}{% t lang_slug %}" />
    <meta property="og:image" content="{{ site.url }}{{ posts[0].image_asset }}" />
  {% endif %}

  <link rel="stylesheet" href="/build/css/styles.css">

  <link rel="icon" type="image/png" href="/img/favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/img/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {% include code/head/language.html %}
  {% include code/head/global-components.html %}
  {% include code/head/google-analytics.html %}
  {% include code/head/google-tag-manager-head.html %}

  <!-- Hotjar Tracking Code for blog.910ths.sa/ -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:780725,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  <!-- Poptin script for blog.910ths.sa/ -->
<script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=c48f4dd857eba' async='true'></script>
</head>

<body class="{{ page.layout }}" dir="{% t direction %}">

  {% include code/head/google-tag-manager-body.html %}

  <header class="globHeader"></header>
  <div class="header">
    <div class="container">
      <div class="header__inner">
        <a href="{{ site.url }}{% t lang_slug %}">
          <h1 class="header__title">
            {% if site.lang != 'ar' %}
              {% value site.title_suffix %} <strong>{% t header_blog %}</strong>
            {% else %}
              <strong>{% t header_blog %}</strong> {% value site.title_suffix %}
            {% endif %}
          </h1>
        </a>
        <div class="header__categories">
          {% assign categories = site.blog-categories | sort: 'title' %}
          {% for category in categories %}
            <a href="{{ category.url }}" class="header__category">{% value category.title %}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="socialIcons hideScroll hideScroll--{% if site.lang == 'en' %}right{% else %}left{% endif %}">
    <div class="socialIcons__items">
      {% if site.social.twitter != empty %}
        <a href="{{ site.social.twitter }}" target="_blank" class="socialIcons__item socialIcons__item--twitter"></a>
      {% endif %}
      {% if site.social.instagram != empty %}
        <a href="{{ site.social.instagram }}" target="_blank" class="socialIcons__item socialIcons__item--instagram"></a>
      {% endif %}
      {% if site.social.facebook != empty %}
        <a href="{{ site.social.facebook }}" target="_blank" class="socialIcons__item socialIcons__item--facebook"></a>
      {% endif %}
      {% if site.social.linkedin != empty %}
        <a href="{{ site.social.linkedin }}" target="_blank" class="socialIcons__item socialIcons__item--linkedin"></a>
      {% endif %}
      {% if site.social.youtube != empty %}
        <a href="{{ site.social.youtube }}" target="_blank" class="socialIcons__item socialIcons__item--youtube"></a>
      {% endif %}
    </div>
  </div>