---
layout: category
---

{% capture html_content %}
<!-- START HTML -->

{% include head.html %}

  {% assign posts = site.blog | sort: 'date' | reverse %}
  {% capture title %}{% value page.title %}{% endcapture %}

  <div class="articlesList articlesList--archive">
    <div class="container">
      <h2 class="articlesList__headline hideScroll">Browsing posts by category: <strong>{{ title }}</strong></h2>
      <div class="row row-fluid">
        <div class="articlesList__list" data-dir="{% t direction %}" data-limit="{{ site.masonry.limit }}" data-more-count="{{ site.masonry.more_count }}" data-animation-duration="{{ site.masonry.animation_time }}">
          <div class="articlesList__line hideScroll"></div>
          {% for post in posts %}

            {% if post.Blog_categories != page.title %}
              {% continue %}
            {% endif %}

            {% include article/small.html %}

          {% endfor %}
        </div>
        <div class="articlesList__moreWrap">
          <div class="hideScroll">
            <a href="#" class="articlesList__more button">{% t posts.load_more %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include footer.html %}

<!-- END HTML -->
{% endcapture %}{{ html_content | minify }}