---
layout: post
---

{% capture html_content %}
<!-- START HTML -->

{% include head.html %}
  
  {% assign post = page %}

  <div class="articlesList articlesList--single">
    <div class="articlesList__bg" style="background-image: url({{ post.image_asset }});"></div>
    {% include article/single.html %}
  </div>

  <div class="commentsBox">
    <div class="container">
      <div class="commentsBox__inner">
        <div class="container">
          <div class="fb-comments commentsBox__wrap hideScroll" data-href="{{ url }}"></div>
        </div>
      </div>
    </div>
  </div>

{% include footer.html %}

<!-- END HTML -->
{% endcapture %}{{ html_content | minify }}