---
layout: post
---

{% capture html_content %}
<!-- START HTML -->

{% include head.html %}
  
  {% assign post = page %}

  <div class="articlesList articlesList--single">
    <div class="articlesList__bg" style="background-image: url({{ post.image_asset }});"></div>
    {% include article/single.html %}
  </div>

  {% assign authors = site.blog-authors | sort: 'title' %}
  {% for author in authors %}
    {% if author.title == post.Blog_authors %}
      <div class="authorBox">
        <div class="container">
          <div class="authorBox__inner hideScroll">
            {% if author.image_asset != empty %}
              <div class="authorBox__image" style="background-image: url({{ author.image_asset }});"></div>
            {% endif %}
            <div class="authorBox__content">
              <h4 class="authorBox__title">{% t posts.by %} <strong>{% value author.title %}</strong></h4>
              <p class="authorBox__position">{% value author.work_position %}</p>
              <div class="authorBox__socials">
                {% if author.twitter_url != empty %}
                  <a href="{{ author.twitter_url }}" target="_blank" class="authorBox__social authorBox__social--twitter">Twitter</a>
                {% endif %}
                {% if author.instagram_url != empty %}
                  <a href="{{ author.instagram_url }}" target="_blank" class="authorBox__social authorBox__social--instagram">Instagram</a>
                {% endif %}
                {% if author.facebook_url != empty %}
                  <a href="{{ author.facebook_url }}" target="_blank" class="authorBox__social authorBox__social--facebook">Facebook</a>
                {% endif %}
                {% if author.linkedin_url != empty %}
                  <a href="{{ author.linkedin_url }}" target="_blank" class="authorBox__social authorBox__social--linkedin">LinkedIn</a>
                {% endif %}
                {% if author.youtube_url != empty %}
                  <a href="{{ author.youtube_url }}" target="_blank" class="authorBox__social authorBox__social--youtube">YouTube</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <div id="comments" class="commentsBox">
    <div class="container">
      <div class="commentsBox__inner">
        <div class="container">
          <div class="commentsBox__wrap">
            <div id="disqus_thread"></div>
            <script>
              (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://910ths-blog.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
        </div>
      </div>
    </div>
  </div>

{% include footer.html %}

<!-- END HTML -->
{% endcapture %}{{ html_content | minify }}