---
layout: category
---

{% capture html_content %}
<!-- START HTML -->

{% include head.html %}

  <div class="articlesList articlesList--archive">
    <div class="container">
      <h2 class="articlesList__headline hideScroll">Lorem ipsum dolor sit amet consectetur adipiscing</h2>
      <div class="row row-fluid">
        <div class="articlesList__list" data-dir="ltr" data-limit="5" data-more-count="2" data-animation-duration="2000">
          <div class="articlesList__line hideScroll"></div>

        </div>
        <div class="articlesList__moreWrap">
          <div class="hideScroll">
            <a href="#" class="articlesList__more button">Load more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include footer.html %}

<!-- END HTML -->
{% endcapture %}{{ html_content | minify }}